*{
    margin-left:5%;
    margin-right: 5%;
    text-align: center;
    
}



#sub{
    display: inline-block;
    color:rgb(78, 78, 78);
    font-size:calc(2px + 1vw);
}

#maintitle{
    display: inline-block;
    font-size:calc(7px + 2.5vw);
    font-weight: bold;
    padding-left: 10%;
    padding-right: 15%;
}

#signup{
    color:rgb(78, 78, 78);
    background-color: white;
    text-decoration: none;
    border:rgb(120, 120, 120) solid;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    padding: 4px 5px;
    cursor: pointer;
    font-size:calc(2px + 1vw);
}

#signup:hover{
    background-color:rgb(220, 220, 220);
}

hr{
    margin-left: 15%;
    margin-right: 10%;
}

#list{
    list-style: none;
}

li{
    display: inline-block;
    margin: 1%;
    color:rgb(78, 78, 78);
}

#featured{
    margin:0 20%;
    background-color: #343A40;
    color: white;
}

#featuredblogtitle{
    font-size: 3vw;
    text-align: left;
    inline-size: 50%;
    overflow-wrap: break-word;
    font-style: italic;
    margin-bottom: 0;
}

#featuredcontent{
    font-size: 1.5vw;
    text-align: left;
    inline-size: 64%;
    overflow-wrap: break-word;
    margin-bottom: 0;

}

#continue{
    font-weight: bold;
    color: white;
    font-size: 1vw;
    text-align: left;
    margin-top: 0;
}

#blogtitle{
    text-align: left;
    margin-left: 13%;
    font-size:calc(12px + 2vw);
    font-style: italic;
}

#blogcontent{
    text-align: left;
    margin-left: 13%;
    margin-right: 11%;
}